.about {
  grid-column: 1/-1;
}

.about-nav {
  display: flex;
  align-items: flex-end;
  height: 7rem;
}

.about-nav > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 100ms ease-in-out;
}

.about-nav > a:visited {
  color: #10050b;
}

.about-nav > a:hover {
  position: relative;
  font-size: 2rem;
  opacity: 1 !important;
}

.nav-text {
  background: white;
  padding: 0 3rem;
}
