.about {
  grid-column: 1/-1;
}
.about-item {
  border-bottom: 1px solid #10050b;
  max-height: fit-content;
}

.about-image {
  background-image: url("../assets/horsetooth_translucent.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 0;
  overflow: hidden;
  transition: max-height 3s ease-out;
}

.about-image.expanded {
  max-height: fit-content;
}

label {
  display: flex;
}

.hidden {
  display: none;
}

input {
  margin: 0;
}
