.divider {
  background: #10050b;
  height: 2rem;
  width: 2px;
}

.experience {
  grid-column: 1/ -1;
}

.experience-field {
  border: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.experience-selector-input {
  display: none;
}

.experience-selector-label {
  text-align: center;
  transition: all 0.05s linear;
  width: 25%;
}

.experience-selector-label_selected {
  border-bottom: 2px solid #10050b;
}

.experience-type-container {
  display: flex;
  min-height: 100%;
}

.experience-type-item {
  display: inline;
  height: 100%;
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.75s linear;
  white-space: normal;
}

.professional {
}

.professional_selected {
  max-width: 100%;
  border-left: 2px solid #10050b;
}

.volunteer {
}

.volunteer_selected {
  max-width: 100%;
  border-right: 2px solid #10050b;
}
