.headshot {
  border-radius: 1px;
  height: 400px;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column: 1/-1;
  padding-top: 1rem;
}

p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .headshot {
    width: 300px;
  }

  .home {
    flex-wrap: nowrap;
    gap: 3rem;
    justify-content: space-between;
  }
}
