.headshot {
  border-radius: 1px;
  width: 100%;
}

.home {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .headshot {
    height: min-content;
    width: 300px;
  }

  .home {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }
}
