a {
  text-decoration: none;
}

a:visited {
  color: #10050b;
}

header {
  display: grid;
  grid-column: 1 / calc(var(--column-count) + 1);
  grid-template-columns: repeat(6, 1fr);
}

h1 {
  font-size: 3rem;
  grid-column: 1/7;
  margin: 0;
  width: 100%;
}

.navlink {
  align-items: center;
  display: flex;
}

.navlink span {
  margin-left: 5px;
}
.navlink-active {
  text-decoration: underline;
}

nav {
  display: block;
  grid-column: 6/7;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list-item {
  list-style-type: none;
}
