#root {
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: #10050b;
}

.App {
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  padding: 2rem;
  row-gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .App {
    height: 100%;
    padding: 4rem;
  }
}
