* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  min-height: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --column-count: 12;
}

body {
  background-image: repeating-linear-gradient(
    90deg,
    #f6f6f4,
    #f6f6f4 3px,
    #f5ebe0 3px,
    #f5ebe0 6px
  );
  color: #10050b;
  height: 100%;
  margin: 0;
  opacity: 0.9;
  width: 100%;
}

@media screen and (min-width: 768px) {
  html,
  body {
    height: 100%;
  }
}
